# Playing CSV

In [3]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/daddy/miniconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/daddy/miniconda3/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/daddy/miniconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/daddy/miniconda3/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: tzdata>=2022.7 in /home/daddy/miniconda3/lib/python3.12/site-packages (from pandas) (2025.1)
Requirement already satisfied: six>=1.5 in /home/daddy/miniconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [4]:
df = pd.read_csv('countries_with_missing_blood_group_values.csv')

In [5]:
df

,Country/Dependency,Population,O+,A+,B+,AB+,O-,A-,B-,AB-
0,Egypt,"104,124,440",36.44%,33.94%,20.96%,8.65%,NaN,NaN,NaN,NaN
1,Mongolia,"3,198,913",36.40%,29.20%,8.10%,NaN,13.30%,8.00%,2.00%,0.01%

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Country/Dependency  2 non-null      object
 1   Population          2 non-null      object
 2   O+                  2 non-null      object
 3   A+                  2 non-null      object
 4   B+                  2 non-null      object
 5   AB+                 1 non-null      object
 6   O-                  1 non-null      object
 7   A-                  1 non-null      object
 8   B-                  1 non-null      object
 9   AB-                 1 non-null      object
dtypes: object(10)
memory usage: 292.0+ bytes

# Playing JSON

In [8]:
pd.read_json('https://dummyjson.com/quotes')

                                               quotes  total  skip  limit
0   {'id': 1, 'quote': 'Your heart is the size of ...   1454     0     30
1   {'id': 2, 'quote': 'The Bay of Bengal is hit f...   1454     0     30
2   {'id': 3, 'quote': 'Thinking is the capital, E...   1454     0     30
3   {'id': 4, 'quote': 'If You Can'T Make It Good,...   1454     0     30
4   {'id': 5, 'quote': 'Heart be brave. If you can...   1454     0     30
5   {'id': 6, 'quote': 'It is bad for a young man ...   1454     0     30
6   {'id': 7, 'quote': 'If You Are Out To Describe...   1454     0     30
7   {'id': 8, 'quote': 'O man you are busy working...   1454     0     30
8   {'id': 9, 'quote': 'While children are struggl...   1454     0     30
9   {'id': 10, 'quote': 'These Capitalists General...   1454     0     30
10  {'id': 11, 'quote': 'I Don'T Believe In Failur...   1454     0     30
11  {'id': 12, 'quote': 'Do not get elated at any ...   1454     0     30
12  {'id': 13, 'quote': 'Wear gratitude like a clo...   1454     0     30
13  {'id': 14, 'quote': 'If you even dream of beat...   1454     0     30
14  {'id': 15, 'quote': 'I Will Praise Any Man Tha...   1454     0     30
15  {'id': 16, 'quote': 'One Of The Greatest Disea...   1454     0     30
16  {'id': 17, 'quote': 'I'm so fast that last nig...   1454     0     30
17  {'id': 18, 'quote': 'People Must Learn To Hate...   1454     0     30
18  {'id': 19, 'quote': 'Everyone has been made fo...   1454     0     30
19  {'id': 20, 'quote': 'The less of the World, th...   1454     0     30
20  {'id': 21, 'quote': 'Respond to every call tha...   1454     0     30
21  {'id': 22, 'quote': 'The Way To Get Started Is...   1454     0     30
22  {'id': 23, 'quote': 'God Doesn'T Require Us To...   1454     0     30
23  {'id': 24, 'quote': 'Speak any language, Turki...   1454     0     30
24  {'id': 25, 'quote': 'Happiness comes towards t...   1454     0     30
25  {'id': 26, 'quote': 'Knowledge is of two kinds...   1454     0     30
26  {'id': 27, 'quote': 'When I am silent, I have ...   1454     0     30
27  {'id': 28, 'quote': 'Technological Progress Is...   1454     0     30
28  {'id': 29, 'quote': 'No One Would Choose A Fri...   1454     0     30
29  {'id': 30, 'quote': 'Life is a gamble. You can...   1454     0     30